.login_button{
    background: white;
    color: black;
    outline: none;
    /* border: none; */
    font-weight: 600;
    padding: 2px 5px;
    border-radius: 5px;
    border: 2px solid white;
}



.login_op{
    margin-top: 10px;
    border: 1px solid white;
    position: absolute;
     animation: scale 0.3s ease;
    z-index: 10;
    /* display: none; */
    min-width: 100px;
    background-color: white;
    border-radius: 5px;
   
}
@keyframes scale{
    0%{
       transform: scale(0.8);
       opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.login_op .login_selection{
    width: 100%;
    background-color: #EF1923;
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    font-weight: 400;
    text-transform: capitalize;
}
.login_op .login_selection:hover{
    background-color: white;
    color: black;
}
