.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1050; /* Bootstrap's z-index for modals */
  }
  
  .position-relative {
    z-index: 1051;
  }
  
  .position-fixed {
    z-index: 1049;
  }
  
  
  